<div class="row row-cols-1 row-cols-md-2 row-cols-lg-{{ include.col | default: 5 }} g-4 mb-5 navigation-tiles">
  {%- for tool in site.data.future_tools %}
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <a class="stretched-link section-title" aria-label="{{ tool.name }}" href="{{ tool.url }}">
            {%- if tool.image_url != "" and tool.image_url != nil %}
            <img src="{{ tool.image_url | relative_url }}" alt="{{ tool.name }} logo" class="mb-3" style="height: 60px; object-fit: contain;">
            {%- endif %}
            <p>{{ tool.name }}</p>
          </a>
        </div>
      </div>
    </div>
  {%- endfor %}
</div>