<div class="row row-cols-1 row-cols-md-2 row-cols-lg-{{ include.col | default: 2 }} g-4 mb-5 navigation-tiles">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <a class="stretched-link section-title" aria-label="Tools" href="{{ site.baseurl }}/contributing/contributing">
                    <h3>Tools</h3>
                    <p>Contribute to the tool assemblies</p>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <a class="stretched-link section-title" aria-label="Tools" href="{{ site.baseurl }}/contributing/contributing">
                    <h3>Guidance</h3>
                    <p>Contribute to the FAIR Metroline guidance</p>
                </a>
            </div>
        </div>
    </div>
</div>
