// Include here all custom classes to add extra styling on top of what the theme and bootstrap variables offer. 
@import "components/info-box";
@import "components/metroline-grid";
@import "components/metroline-status";
@import "components/metro-timeline";
@import "components/image-styling";
@import "components/quick_form_styling";
@import "components/image-wrapping";
@import "components/mermaid-styling";
@import "components/stepcontent-wrapping";
@import "components/table-styling";
@import "components/scenario-overview";
@import "components/tool-scenario-timeline";
@import "components/scenario-cards";


//Example for highlighting the active page in the navigation:
/*-----Top navigation-----*/

.navbar-nav .nav-item > a {
    &.active {
        color: $white;
        background-color: $primary;
        border-radius: $border-radius;
    }
}



// .nodeLabel p{
//     text-decoration: underline; /* Makes it clear it's a link */
//     color: darkblue !important; /* Default link color */
// }

// .mermaid a:hover {
//     color: darkblue; /* Hover effect for clarity */
//     cursor: pointer; /* Changes cursor on hover */
// }




// .graph-container {
//   display: inline-block;        // allow the box to shrink to fit content
//   max-width: 100%;              // prevent overflow on small screens
//   max-height: 550px;
//   overflow: auto;
//   border: 1px solid #ccc;
//   padding: 1rem;
//   margin-bottom: 1rem;          // add spacing below the graph
// //   background-color: #fff;       // optional: makes padding visible
//   background: #f9f9f9;
// }




// .mermaidTooltip {
//     visibility: visible; /* Ensure it's visible */
//     opacity: 1; /* Make sure it’s not transparent */
//     background-color: rgba(0, 0, 0, 0.8); /* Tooltip background */
//     color: #fff; /* Tooltip text color */
//     padding: 5px 10px;
//     border-radius: 5px;
//     position: absolute;
//     z-index: 9999;
//     pointer-events: none; /* Prevent cursor interaction */
// }


// h1 {
//     color: #76323f;
// }