// Include here all custom classes to add extra styling on top of what the theme and bootstrap variables offer. 

//Example for highlighting the active page in the navigation:
/*-----Top navigation-----*/

.navbar-nav .nav-item > a {
    &.active {
        color: $white;
        background-color: $primary;
        border-radius: $border-radius;
    }
}

.author-card {
  text-align: center;
}
.author-name{
    font-size: 90%;
}
.author-affiliation{
    font-size: 80%;
}

figure {
  text-align: center;
  margin: 2em auto;
}

figure img {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-size: 0.9em;
  color: #666;
  margin-top: 0.5em;
  text-align: center; /* This ensures the caption itself is centered */
}

img.size-small {
  width: 300px;
}

img.size-medium {
  width: 500px;
}

img.size-large {
  width: 100%;
  max-width: 800px;
}

// styling for the metroline grid as used by e.g. the contributors page
.metroline-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 1rem;
}

.metroline-grid-cell {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
  background: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.metroline-grid-cell .icon {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

// Styling for the logos on the logo page
.logo-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.logo-item {
  width: 185px;
  justify-content: center;
  align-items: center;
}

.logo-item img {
  display: block;
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-item img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

// styling for metroline development status
.metroline-status {
  font-weight: bold;
  font-size: 0.7em;
  margin-top: 0.5em;
 }

.metroline-status-released {
  color: green;
}
.metroline-status-in-development {
  color: red;
}
.metroline-status-on-hold {
  color: blue;
}
.metroline-status-future-work {
  color: purple;
}
.metroline-status-ready-for-review {
  color: orange;
}
// .nodeLabel p{
//     text-decoration: underline; /* Makes it clear it's a link */
//     color: darkblue !important; /* Default link color */
// }

// .mermaid a:hover {
//     color: darkblue; /* Hover effect for clarity */
//     cursor: pointer; /* Changes cursor on hover */
// }

.mermaid a:hover {
    color: darkblue !important;
    text-shadow: 0px 0px 5px rgba(0, 0, 255, 0.7); /* Glow effect */
    cursor: pointer;
//     transform: scale(1.05); /* Slight zoom on hover */
}

.info-box {
  border-left: 4px solid #1e90ff;
  background-color: #f0f8ff;
  padding: 1em;
  margin: 1em 0;
  border-radius: 4px;
}

// .mermaidTooltip {
//     visibility: visible; /* Ensure it's visible */
//     opacity: 1; /* Make sure it’s not transparent */
//     background-color: rgba(0, 0, 0, 0.8); /* Tooltip background */
//     color: #fff; /* Tooltip text color */
//     padding: 5px 10px;
//     border-radius: 5px;
//     position: absolute;
//     z-index: 9999;
//     pointer-events: none; /* Prevent cursor interaction */
// }


// h1 {
//     color: #76323f;
// }