<!-- Table structure to visualize data from bio.tools -->
<div id="biotools-data-container">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Version</th>
                <td id="version"></td>
            </tr>
            <tr>
                <th>Publications (DOI)</th>
                <td id="publication"></td>
            </tr>
            <tr>
                <th>Openebench</th>
                <td id="openebench">
                </td>
            </tr>
        </tbody>
    </table>
</div>