{%- if include.domains == true or include.phases == true or include.institutes == true or include.search == true %}
{%- assign alldomains = "" %}
{%- assign allphases = "" %}
{%- assign allinstitutes = "" %}
{%- for current_page in site.pages | sorted %}
{%- if current_page.search_exclude != true and current_page.type == include.type %}
{%- if current_page.domain %}
{%- assign pagedomains = current_page.domain | join: ", " %}
{%- if alldomains %}
{%- assign alldomains = alldomains | append: ", " | append: pagedomains %}
{%- else %}
{%- assign alldomains = alldomains | append: pagedomains %}
{%- endif %}
{%- endif %}
{%- if current_page.phase %}
{%- assign pagephases = current_page.phase | join: ", " %}
{%- if allphases %}
{%- assign allphases = allphases | append: ", " | append: pagephases %}
{%- else %}
{%- assign allphases = allphases | append: pagephases %}
{%- endif %}
{%- endif %}
{%- if current_page.institutes %}
{%- assign pageinstitutes = current_page.institutes | join: ", " %}
{%- if allinstitutes %}
{%- assign allinstitutes = allinstitutes | append: ", " | append: pageinstitutes %}
{%- else %}
{%- assign allinstitutes = allinstitutes | append: pageinstitutes %}
{%- endif %}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- assign alldomains = alldomains | split: ", " | uniq | sort %}
{%- assign allphases = "" %}
{%- for _stage in site.data.lifecycle_stages %}
{%- unless allphases == "" %}{%- assign allphases = allphases | append: "|" %}{%- endunless %}
{%- assign allphases = allphases | append: _stage.name %}
{%- endfor %}
{%- assign allphases = allphases | split: "|" %}
{%- assign allinstitutes = allinstitutes | split: ", " | uniq | sort %}
<div class="row g-4 row-cols-1 row-cols-md-2 row-cols-lg-{{ include.col | default: 2 }} my-4">
    {%- if include.domains == true %}
    {% include toolassemblies/tile-filter-select.html id="domains-input" key="domains" param="domain" label="Filter by domain" all_label="All domains" clear_label="domains" options=alldomains %}
    {%- endif %}
    {%- if include.phases == true %}
    {% include toolassemblies/tile-filter-select.html id="phases-input" key="phases" param="phase" label="Filter by phase" all_label="All phases" clear_label="phases" options=allphases %}
    {%- endif %}
    {%- if include.institutes == true %}
    {% include toolassemblies/tile-filter-select.html id="institutes-input" key="institutes" param="institute" label="Filter by institute" all_label="All institutes" clear_label="institutes" options=allinstitutes %}
    {%- endif %}
    {%- if include.search == true %}
    <div class="col">
        <div class="input-group">
            <span class="input-group-text" id="search-label-tiles"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" id="title-search" class="form-control tile-search-control" onkeyup="applyTileFilters();" placeholder="Search titles and descriptions..." aria-label="Search titles and descriptions" aria-describedby="search-label-tiles">
            <button class="btn btn-primary" title="Button to clear search" type="button" id="clearsearch">
                <i class="fa-solid fa-backspace"></i>
            </button>
        </div>
    </div>
    {%- endif %}
</div>
{%- endif %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-{{ include.col | default: 2 }} g-4 mb-5 navigation-tiles">
    {%- if include.custom %}
    {%- assign related_pages = include.custom | split: ", " %}
    {%- unless include.sort == false %}
    {%- assign related_pages = related_pages | sort %}
    {%- endunless %}
    {%- elsif include.type %}
    {%- assign related_pages = site.pages | where:"type", include.type %}
    {%- else %}
    {%- assign related_pages = site.pages %}
    {%- endif %}
    {%- unless include.sort == false %}
    {%- assign related_pages = related_pages | sort: 'title'%}
    {%- endunless %}
    {%- for related_page in related_pages %}
    {%- if include.custom %}
    {%- assign current_page = site.pages | where:"page_id", related_page | first %}
    {%- else %}
    {%- assign current_page = related_page %}
    {%- endif %}
    {%- assign except = include.except | split: ", " %}
    {%- if current_page.title and current_page.search_exclude != true %}
    {%- unless except contains current_page.name %}
    {%- capture domains_classes -%}{%- for domain in current_page.domain %}{{ domain | slugify }} {% endfor -%}{%- endcapture -%}
    {%- capture phases_classes -%}{%- for phase in current_page.phase %}{{ phase | slugify }} {% endfor -%}{%- endcapture -%}
    {%- capture institutes_classes -%}{%- for institute in current_page.institutes %}{{ institute | slugify }} {% endfor -%}{%- endcapture -%}
<div class="col" data-domains="{{ domains_classes | strip }}" data-phases="{{ phases_classes | strip }}" data-institutes="{{ institutes_classes | strip }}">
    {%- assign pagedomains = "" | split: "" %}
    {%- if current_page.domain %}
    {%- assign pagedomains = current_page.domain | sort %}
    {%- endif %}
    {%- capture card_meta %}
        {%- include toolassemblies/tag-group.html label="Domains" values=pagedomains badge="bg-primary" %}
        {%- include toolassemblies/tag-group.html label="Phases" values=current_page.phase badge="bg-secondary" %}
    {%- endcapture %}
    {%- assign card_meta = card_meta | strip %}
    {%- include toolassemblies/navigation-card.html
        url=current_page.url
        title=current_page.title
        description=current_page.description
        image=current_page.page_img
        meta=card_meta
    %}
</div>
{% endunless %}
{%- endif %}
{%- endfor %}
</div>

{%- if include.domains == true or include.phases == true or include.institutes == true or include.search == true %}
{% include toolassemblies/tile-filters-script.html %}
{%- endif %}
