// styling for the metroline grid as used by e.g. the contributors page
.metroline-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 1rem;
}

.metroline-grid-cell {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
  background: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.metroline-grid-cell .icon {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.author-card {
  text-align: center;
}
.author-name{
    font-size: 90%;
}
.author-affiliation{
    font-size: 80%;
}

// Styling for the logos on the logo page
.logo-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.logo-item {
  width: 185px;
  justify-content: center;
  align-items: center;
}

.logo-item img {
  display: block;
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-item img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}
