.navigation-tiles .card{
    background-color: white;
    border: 1px solid #183d7626;
    color: $card-label;
}

.navigation-tiles .card a.section-title{
    color: $light;
}

.navigation-tiles .card:hover{
    border-color: #183d76;
    box-shadow: 0 6px 10px -4px #000022b3;
    background-color: #fff !important;
    color: $card-label;
}

.navigation-tiles .card:hover a.section-title{
    color: $light;
}