// top navigation bar
.nav-link{
    color: $dark;
}

.navbar-brand {
  pointer-events: none;
  cursor: default;
}

//GitHub icon color in the top right corner
.me-2{
    color: $top-nav-icon;
}

.nav-link:hover{
    color: white;
}