---
layout: page
---

<h2>At a glance</h2>
{% include toolassemblies/tool-table.html tool_id=page.tool_id section="at_a_glance" %}

<h3>Information retrieved from bio.tools</h3>
{% include toolassemblies/get-biotools-data.html biotools_id=page.biotools_id %}

<h2>Known gaps or user needs</h2>
{% include toolassemblies/tool-table.html tool_id=page.tool_id section="gaps_and_needs" %}

<h2>Compatible with</h2>
{% assign tool = site.data.tools | where: "id", page.tool_id | first %}
{% include toolassemblies/show-tiles.html ids=tool.compatible_with %}

{% include toolassemblies/related-scenarios.html tool_id=page.tool_id %}
